<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <title>Employees</title>
</head>
<body>
<div th:switch="${employees}">
    <h2 th:case="null">No employees yet!</h2>
    <div th:case="*">
        <h2>Employees</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Position</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.age}"></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${employee.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/employees/addEmployeeForm">Add a new employee</a></p>
</div>
</body>
</html>